
#login-container {
  width : 100vw;
  height : 80vh;
  display: flex;
  flex-direction: column;
  margin: auto auto;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffff;
  background-size: 100%;
    background-repeat: repeat;
    background-image: url("../../assets/img/jason/NTPCbkg50.png"); 
}


 @media screen and (max-width: 1100px) {
  #login-container {
    background-size: 150%;
  }
}

@media screen and (max-width: 450px) {
  #login-inputs {
    width: 300px;
  }
  #login-container {
    background-size: 250%;
  }
}
